<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no"/>
  <title>Usuarios - Escala de Trabalho Automática</title>

</head>
<body>
<div layout:fragment="content">

  <div class="row mt-5">
    <div class="col">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/usuarios/listar}">Listar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/usuarios/cadastrar}">Cadastrar</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card mb-4"></div>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
    <li class="breadcrumb-item active">Cadastro usuarios</li>
  </ol>
  <div th:if="${usuarioCadastrado != null}">
    <div th:replace="~{usuario/fragmentos :: modalUsuarioCadastrado(${usuarioCadastrado})}"></div>
  </div>
  <div th:if="${mensagem != null}">
    <div>
      <span th:text="${mensagem}">mensagem</span>
    </div>
  </div>
  <div class="card mb-4">
    <div class="container">
      <form th:action="@{/usuarios/salvar}" th:method="post" th:object="${usuario}">
        <div class="row">
          <input id="id" type="hidden" th:field="*{id}"/>

          <div class="form-group col-md-4">
            <label for="nome">Nome:</label>
            <input class="form-control" id="nome" type="text" th:field="*{nome}" th:errorClass="is-invalid"/>
            <div class="invalid-feedback" th:errors="*{nome}"></div>
          </div>

          <div class="form-group col-md-6">
            <label for="sobreNome">Sobrenome:</label>
            <input class="form-control" id="sobreNome" type="text" th:field="*{sobrenome}"  th:errorclass="is-invalid"/>
            <div class="invalid-feedback" th:errors="*{sobrenome}"></div>
          </div>

          <div class="form-group col-md-2">
            <label for="matricula">Matricula:</label>
            <input class="form-control" id="matricula" type="text" th:field="*{matricula}"  th:errorclass="is-invalid"/>
            <div class="invalid-feedback" th:errors="*{matricula}"></div>
          </div>
        </div>

        <div class="row">

          <div class="form-group col-md-5">
            <label for="email">E-mail:</label>
            <input class="form-control" id="email" type="email" th:field="*{email}"  th:errorclass="is-invalid"/>
            <div class="invalid-feedback" th:errors="*{email}"></div>
          </div>

         <!-- <div class="form-group col-4">
            <label for="perfil">Perfil:</label>
            <select class="form-control" id="perfil"  title="Selecione os perfis...">
              <option th:each="perfilItem : ${perfis}" th:text="${perfilItem.nome}" th:value="${perfilItem}" >Nome do perfil</option>
            </select>
          </div> -->

          <div class="form-group col-4">
            <label for="perfis">Perfil:</label>
            <select class="selectpicker form-control" id="perfis" multiple title="Selecione os perfis..." name="perfis">
              <option th:each="perfilItem : ${perfisCadastrados}" th:text="${perfilItem.nome}" th:value="${perfilItem.id}">Nome do perfil</option>
            </select>
          </div>
        </div>



        <div class="form-group">
          <button class="btn btn-primary" type="submit">Salvar</button>
          <a class="btn btn-danger" href="#">Cancelar</a>
        </div>

      </form>

    </div>
  </div>

</div>

</body>
</html>
