<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <title>Listar - Escala de Trabalho Automática</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="card mb-4"></div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/escalas/listar">Escalas de Trabalho</a></li>
            <li class="breadcrumb-item active">Listar todas</li>
        </ol>

        <div class="card mb-4">
            <div th:if="${escalas != null}">

                <div th:if="${mensagem != null}">
                    <div class="alert alert-info" role="alert">
                        <span th:text="${mensagem}">mensagem</span>
                    </div>
                </div>
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Escalas de Trabalho
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Mês</th>
                                <th>Ano</th>
                                <th>Tipos Cadastrados</th>
                                <th sec:authorize="hasRole('ROLE_ESCALA')">Ações</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Mês</th>
                                <th>Ano</th>
                                <th>Tipos Cadastrados</th>
                                <th sec:authorize="hasRole('ROLE_ESCALA')">Ações</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="escala : ${escalas}">
                                <td th:text="${'Escala '+ escala.nome}" th:href="@{/escalas/listar/tipo/{id}(id=${escala.escalaId})}">nome</td>
                                <td th:text="${#temporals.monthName(escala.data)}">mes</td>
                                <td th:text="${#temporals.year(escala.data)}">ano</td>
                                <td>
                                    <span th:each="tipo : ${escala.tipos}" th:text="${tipo.nome} + ' '">tipo</span>
                                </td>
                                <td sec:authorize="hasRole('ROLE_ESCALA')">
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <a class="btn btn-sm btn-info" th:href="@{/escalas/{id}/atualizar(id=${escala.escalaId})}">Atualizar</a>
                                        <a class="btn btn-sm btn-danger" th:href="@{/escalas/{id}/remover(id=${escala.escalaId})}">Remover</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div th:if="${#lists.isEmpty(escalas)}">
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    0 escalas cadastradas!
                </div>
            </div>
        </div>
    </div>
</body>
</html>
