<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no"/>

  <title>Funcionários - Escala de Trabalho Automática</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="card mb-4"></div>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a th:href="@{/funcionarios/listar}">Funcionários</a></li>
      <li class="breadcrumb-item active">Atualizar Cadastro</li>
    </ol>
    <div class="card mb-4">
      <div class="container">
        <form th:action="@{/funcionarios/atualizar}" th:method="put" th:object="${funcionario}">
          <div class="row">
            <input id="funcionarioId" type="hidden" th:field="*{funcionarioId}"/>

            <div class="form-group col-md-12" th:object="${cargos}">
              <label for="cargoId">Cargo:</label>
              <select class="form-control"  id="cargoId" name="cargoId" >
                <option
                        th:each="cargo : ${cargos}"
                        th:selected="${cargo.cargoId == selectedCargoId}"
                        th:value="${cargo.cargoId}"
                        th:text="${cargo.nome + ' (' + cargo.sigla + ') '}">
                </option>
              </select>
            </div>

            <div class="form-group col-md-6" th:object="${equipes}">
              <label for="equipeId">Equipe:</label>
              <select class="form-control" id="equipeId" name="equipeId" >
                <option
                        th:each="equipe : ${equipes}"
                        th:selected="${equipe.equipeId == selectedEquipeId}"
                        th:value="${equipe.equipeId}"
                        th:text="${equipe.nome}">
                </option>
              </select>
            </div>

            <div class="form-group col-md-6" th:object="${turnos}">
              <label for="id">Turno:</label>
              <select class="form-control" id="id" name="id" >
                <option
                        th:each="turno : ${turnos}"
                        th:selected="${turno.id == selectedTurnoId}"
                        th:value="${turno.id}"
                        th:text="${turno.nome}">
                </option>
              </select>
            </div>

            <div class="form-group col-md-12">
              <label for="nome">Nome:</label>
              <input class="form-control" id="nome" type="text" th:field="*{nome}" th:errorclass="is-invalid"/>
              <div class="invalid-feedback" th:errors="*{nome}"></div>
            </div>

            <div class="form-group col-md-4">
              <label for="matricula">Matrícula:</label>
              <input class="form-control" id="matricula" type="text" th:field="*{matricula}" th:errorclass="is-invalid"/>
              <div class="invalid-feedback" th:errors="*{matricula}"></div>
            </div>

            <div class="form-group col-md-4">
              <label for="localidade">Localidade:</label>
              <select class="form-control"  id="localidade" name="localidade" >
                <option th:selected="${funcionario.localidade == selectedLocalidade}" th:value="'P'">Presencial</option>
                <option th:selected="${funcionario.localidade == selectedLocalidade}" th:value="'R'">Remoto</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="codigo">Código:</label>
              <input class="form-control" id="codigo" type="text" th:field="*{codigo}" th:errorclass="is-invalid"/>
              <div class="invalid-feedback" th:errors="*{codigo}"></div>
            </div>

            <div class="form-group col-md-12">
              <label for="email">Email:</label>
              <input class="form-control" id="email" type="text" th:field="*{email}" th:errorclass="is-invalid"/>
              <div class="invalid-feedback" th:errors="*{email}"></div>
            </div>

            <div class="form-group col-md-12">
              <label for="senha">Senha:</label>
              <input class="form-control" id="senha" type="password" th:field="*{senha}" th:errorclass="is-invalid"/>
              <div class="invalid-feedback" th:errors="*{senha}"></div>
            </div>

          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">&nbsp; Salvar &nbsp;</button>
            <a class="btn btn-danger" th:href="@{/funcionarios/listar}">Cancelar</a>
          </div>

        </form>
      </div>
    </div>

  </div>
</body>
</html>
