<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no"/>

  <title>Cargos - Escala de Trabalho Automática</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="card mb-4"></div>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a th:href="@{/cargos/listar}">Cargos</a></li>
      <li class="breadcrumb-item active">Cadastrar Novo</li>
    </ol>
    <div class="card mb-4">
      <div class="container">
        <form th:action="@{/cargos/salvar}" th:method="${cargo.id} == 0 ? post : put" th:object="${cargo}">
          <div class="row">
            <input id="id" type="hidden" th:field="*{id}"/>
            <div class="form-group col-md-12">
              <label for="nome">Nome:</label>
              <input class="form-control" id="nome" type="text" th:field="*{nome}"/>
              <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
            </div>

            <div class="form-group col-md-4">
              <label for="sigla">Sigla:</label>
              <input class="form-control" id="sigla" type="text" th:field="*{sigla}"/>
              <div th:if="${#fields.hasErrors('sigla')}" th:errors="*{sigla}"></div>
            </div>

            <div class="form-group col-md-4">
              <label for="permissaoAcesso">Permissão:</label>
              <input class="form-control" id="permissaoAcesso" type="text" th:field="*{permissaoAcesso}"/>
              <div th:if="${#fields.hasErrors('permissaoAcesso')}" th:errors="*{permissaoAcesso}"></div>
            </div>

            <div class="form-group col-md-4">
              <label for="horasExtrasPermitidas">Horas Extras Permitidas:</label>
              <input class="form-control" id="horasExtrasPermitidas" type="text" th:field="*{horasExtrasPermitidas}"/>
              <div th:if="${#fields.hasErrors('horasExtrasPermitidas')}" th:errors="*{horasExtrasPermitidas}"></div>
            </div>

          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Salvar</button>
            <a class="btn btn-danger" th:href="@{/cargos/listar}">Cancelar</a>
          </div>

        </form>
      </div>
    </div>

  </div>
</body>
</html>