<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <title>Chamados para Suporte - Escala de Trabalho Automática</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="mb-4"></div>
        <div class="card mb-4">
            <div class="container">
                <div th:if="${mensagem != null}">
                    <div class="alert alert-info" role="alert">
                        <span th:text="${mensagem == null ? '&nbsp;' : mensagem}">mensagem</span>
                    </div>
                </div>
                <form th:method="get">
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="solicitacao">Tipo da solicitação:</label>
                            <select class="form-control" id="solicitacao" name="rt" aria-describedby="solicitacaoHelp">
                                <option value="T">Todos</option>
                                <option value="R">Recuperar senha</option>
                                <option value="C">Criar conta</option>
                            </select>
                            <small id="solicitacaoHelp" class="form-text text-muted">Selecione o tipo de chamado ou todos para ver a lista completa.</small>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="status">Status da solicitação:</label>
                            <select class="form-control" id="status" name="st" aria-describedby="statusHelp">
                                <option value="T">Todos</option>
                                <option value="A">Atendido</option>
                                <option value="N">Não Atendido</option>
                            </select>
                            <small id="statusHelp" class="form-text text-muted">Selecione o status do chamado ou todos para ver a lista completa.</small>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-primary" style="margin-top:30px" type="submit">Selecionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-4">
            <div th:if="${chamados != null}">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Chamados para Suporte
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Sigla</th>
                                <th>Horas Extras Permitidas</th>
                                <th sec:authorize="hasRole('ROLE_CARGO')">Ações</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Sigla</th>
                                <th>Horas Extras Permitidas</th>
                                <th sec:authorize="hasRole('ROLE_CARGO')">Ações</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="cargo : ${cargos}">
                                <td >
                                    <a th:text="${cargo.nome}" th:href="@{/funcionarios/listar/cargo/{id}(id=${cargo.cargoId})}">nome</a>
                                </td>
                                <td th:text="${cargo.sigla}">sigla</td>
                                <td th:text="${cargo.horasExtrasPermitidas}">Horas Extras Permitidas</td>
                                <td sec:authorize="hasRole('ROLE_CARGO')">
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <a class="btn btn-sm btn-info" th:href="@{/cargos/{id}/atualizar(id=${cargo.cargoId})}">Atualizar</a>
                                        <a class="btn btn-sm btn-danger" th:href="@{/cargos/{id}/remover(id=${cargo.cargoId})}">Remover</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(chamados)}">
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                0 chamados cadastrados!
            </div>
        </div>
    </div>
</body>
</html>
