<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no"/>

  <title>Turno - Escala de Trabalho Automática</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="card mb-4"></div>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a th:href="@{/turnos/listar}">Turno</a></li>
      <li class="breadcrumb-item active">Cadastrar Novo</li>
    </ol>
    <div class="card mb-4">
      <div class="container">
        <form th:action="@{/turnos/salvar}" th:method="${turno.id} == 0 ? post : put" th:object="${turno}">
          <div class="row">
            <input id="id" type="hidden" th:field="*{id}"/>
            <div class="form-group col-md-12">
              <label for="nome">Nome:</label>
              <input class="form-control" id="nome" type="text" th:field="*{nome}"/>
              <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
            </div>

            <div class="form-group col-md-4">
              <label for="sigla">Sigla:</label>
              <input class="form-control" id="sigla" type="text" th:field="*{sigla}"/>
              <div th:if="${#fields.hasErrors('sigla')}" th:errors="*{sigla}"></div>
            </div>

            <div class="form-group col-md-4">
              <label for="trabalhaNoFeriado">Trabalha no Feriado:</label>
              <select class="form-control form-select-lg mb-3" aria-label=".form-select-lg example" th:field="*{trabalhaNoFeriado}" id="trabalhaNoFeriado">
                <option th:value="1">Sim</option>
                <option th:value="0">Não</option>
              </select>
              <div th:if="${#fields.hasErrors('trabalhaNoFeriado')}" th:errors="*{trabalhaNoFeriado}"></div>
            </div>

            <div class="form-group col-md-2">
              <label for="horaInicio">Horario Inicio:</label>
              <input class="form-control" id="horaInicio" type="time" th:field="*{horaInicio}"/>
              <div th:if="${#fields.hasErrors('horaInicio')}" th:errors="*{horaInicio}"></div>
            </div>

            <div class="form-group col-md-2">
              <label for="horaTermino">Horario Termino:</label>
              <input class="form-control" id="horaTermino" type="time" th:field="*{horaTermino}"/>
              <div th:if="${#fields.hasErrors('horaTermino')}" th:errors="*{horaTermino}"></div>
            </div>

          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Salvar</button>
            <a class="btn btn-danger" th:href="@{/feriados/listar}">Cancelar</a>
          </div>

        </form>
      </div>
    </div>

  </div>
</body>
</html>
