<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no"/>

  <title>Turno - Escala de Trabalho Automática</title>
</head>
<body>
<div layout:fragment="content">
  <div class="card mb-4"></div>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a th:href="@{/turnos/listar}">Turno</a></li>
    <li class="breadcrumb-item active">Atualizar Turno</li>
  </ol>
    <div class="card mb-4">
      <div class="container">
        <form th:action="@{/turnos/salvar/alternado}" th:method="${turno.id} == 0 ? post : put" th:object="${turno}">
          <div class="row">
            <input id="id" type="hidden" th:field="*{id}"/>
             <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('nome')} ? has-error">
              <label for="nome">Nome:</label>
              <input class="form-control" id="nome" type="text" th:field="*{nome}" th:errorclass="is-invalid"/>
              <div class="invalid-feedback" th:errors="*{nome}"></div>
            </div>

            <div class="form-group col-md-4">
              <label for="sigla">Sigla:</label>
              <input class="form-control" id="sigla" type="text" th:field="*{sigla}" th:errorclass="is-invalid"/>
              <div class="invalid-feedback" th:errors="*{sigla}"></div>
            </div>
            <div class="form-group col-md-4">
              <label for="trabalhaNoFeriado">Trabalha no Feriado:</label>
              <select class="form-control form-select-lg mb-3" aria-label=".form-select-lg example" th:field="*{trabalhaNoFeriado}" id="trabalhaNoFeriado" th:errorclass="is-invalid">
                <option th:value="1">Sim</option>
                <option th:value="0">Não</option>
              </select>
              <div class="invalid-feedback" th:errors="*{trabalhaNoFeriado}"></div>
            </div>
            <div class="form-group col-md-2">
              <label for="horaInicio">Horario Inicio:</label>
              <input class="form-control" id="horaInicio" type="time" th:field="*{horaInicio}" th:errorclass="is-invalid"/>
              <div class="invalid-feedback"  th:errors="*{horaInicio}"></div>
            </div>
            <div class="form-group col-md-2">
              <label for="horaTermino">Horario Termino:</label>
              <input class="form-control" id="horaTermino" type="time" th:field="*{horaTermino}" th:errorclass="is-invalid"/>
              <div class="invalid-feedback"  th:errors="*{horaTermino}"></div>
            </div>

            <div class="container" th:object="${turno.turnoAlternado}">
              <input id="idAlternado" type="hidden" name="id"/>
              <div class="row">
                <div class="form-group col-4" >
                  <label class="mt-2" for="quantDiasConsecutivosTrabalho">Quantidade de dias consecutivos trabalhados:</label>
                </div>
                <div class="form-group col-1">
                  <input class="form-control" id="quantDiasConsecutivosTrabalho" type="number"  min="1" name="quantDiasConsecutivosTrabalho"
                         th:value="${turnoAlternado.quantDiasConsecutivosTrabalho}" th:field="*{quantDiasConsecutivosTrabalho}" th:errorclass="is-invalid"/>
                  <div class="invalid-feedback" th:errors="*{quantDiasConsecutivosTrabalho}"></div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-4" >
                  <label class="mt-2" for="quantDiasFolga">Quantidade dias de folga:</label>
                </div>
                <div class="form-group col-1">
                  <input class="form-control" id="quantDiasFolga" type="number"  min="0" name="quantDiasFolga" th:field="*{quantDiasFolga}" />
                  <div class="invalid-feedback" th:errors="*{quantDiasFolga}"></div>
                </div>
              </div>

            </div>


          </div>


          <div class="form-group">
            <button class="btn btn-primary" type="submit">Salvar</button>
            <a class="btn btn-danger" th:href="@{/turnos/listar}">Cancelar</a>
          </div>

        </form>
      </div>
    </div>

</div>
</body>
</html>
