<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <title>Gerenciamento - Escala de Trabalho Automática</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card mb-4"></div>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a th:href="@{/}">Gerenciamento</a></li>
        <li class="breadcrumb-item active">Gerar Escala por Funcionário</li>
    </ol>
    <div th:if="${mensagem != null}">
        <div class="alert alert-info" role="alert">
            <span th:text="${mensagem == null ? '&nbsp;' : mensagem}">mensagem</span>
        </div>
    </div>
    <div class="card mb-4">
        <div class="container">
            <form th:action="@{/gerenciamento/gerar/funcionario/escala}" th:method="post">
                <div class="row">
                    <div class="form-group col-md-6" th:object="${escala}">
                        <label for="escalaId">Escalas:</label>
                        <select class="form-control" id="escalaId" name="escalaId" aria-describedby="escalaHelp">
                            <option value="0">Selecione uma Escala...</option>
                            <option
                                    th:each="e : ${escalas}"
                                    th:value="${e.escalaId}"
                                    th:text="${'Escala ' + e.nome + ' (' + #temporals.format(e.data, 'MMMM/yyyy', new java.util.Locale('pt', 'PT')) + ')'}">
                                escala
                            </option>
                        </select>
                        <small id="escalaHelp" class="form-text text-muted">Selecione a escala desejada na lista acima segundo o nome e o mês de cadastro.</small>
                    </div>
                    <div class="form-group col-md-6" th:object="${funcionario}">
                        <label for="funcionarioId">Funcionários:</label>
                        <select class="form-control" id="funcionarioId" name="funcionarioId" aria-describedby="funcionarioHelp">
                            <option value="0">Selecione um Funcionário...</option>
                            <option
                                    th:each="f : ${funcionarios}"
                                    th:value="${f.funcionarioId}"
                                    th:text="${f.nome +' ('+ f.matricula +')'}">
                                funcionario
                            </option>
                        </select>
                        <small id="funcionarioHelp" class="form-text text-muted">Selecione o funcionário para gerar a escala de trabalho automática.</small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">&nbsp; Salvar &nbsp;</button>
                        <a class="btn btn-danger" th:href="@{/}">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>
