<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, user-scalable=no"/>

		<title>Dashboard - Escala de Trabalho Automática</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="mb-4"></div>
			<div class="card mb-4">
				<div class="container">
					<form th:action="@{/home}" th:method="get" th:object="${funcionario}">
						<div class="row">
							<div class="form-group col-md-5" th:object="${escala}">
								<label for="escalaId">Escala:</label>
								<select class="form-control" id="escalaId" name="escalaId" aria-describedby="escalaHelp">
									<option value="0">Selecione uma Escala</option>
									<option
											th:each="e : ${escalas}"
											th:selected="${e.escalaId == selectedEscala}"
											th:value="${e.escalaId}"
											th:text="${e.nome}">
										escala
									</option>
								</select>
								<small id="escalaHelp" class="form-text text-muted">Selecione uma Escala na lista.</small>
							</div>
							<div class="form-group col-md-5">
								<label for="data">Data:</label>
								<input type="month" class="form-control" id="data" name="data" aria-describedby="dataHelp">
								<small id="dataHelp" class="form-text text-muted">Selecione o mês e o ano para exibir a Escala.</small>
							</div>
							<div class="form-group col-md-2">
								<button class="btn btn-primary" style="margin-top:30px" type="submit">Selecionar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="card mb-4">
				<div class="col-md-12">
				</div>
				<div class="card-header">
					<i class="fas fa-user-clock mr-1"></i>
					<span style="text-transform: uppercase" th:text="${titulo}">titulo</span>
				</div>
				<div class="card-body">
          <div th:if="${mensagem != null}">
            <div class="alert alert-info" role="alert">
              <span th:text="${mensagem}">mensagem</span>
            </div>
          </div>
					<div class="table-responsive">
						<table class="table table-striped table-bordered nowrap" id="dashboardTable" style="width:100%" width="100%" cellspacing="0">
							<thead>
							<tr>
								<th>Nome</th>
								<th>Cargo</th>
								<th th:each="dia : ${diasDoMes}" th:text="${#temporals.dayOfWeekNameShort(dia)} +' ('+${#temporals.day(dia)}+')'">dia</th>
							</tr>
							</thead>
							<tfoot>
							<tr>
								<th>Nome</th>
								<th>Cargo</th>
								<th th:each="dia : ${diasDoMes}" th:text="${#temporals.dayOfWeekNameShort(dia)} +' ('+${#temporals.day(dia)}+')'">dia</th>
							</tr>
							</tfoot>
							<tbody>
							<tr th:each="dto : ${dtos}">
								<td>
									<a th:text="${dto.funcionario}"
									   th:href="@{/funcionarios/listar/{id}(id=${dto.funcionarioId})}">
										nome
									</a>
								</td>
								<td class="cargo">
									<a th:text="${dto.cargo}"
									   href="#"
									   data-container="body"
									   data-toggle="popover"
									   data-placement="top"
									   th:data-content="${dto.cargo} + ' (' + ${dto.cargoSigla} + ')'">
										cargo
									</a>
								</td>
								<td th:each="dias : ${dto.dias}" th:text="${dias.turno.sigla}">dia</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
