<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <title>Listar - Escala de Trabalho Automática</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="card mb-4"></div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/escalas/listar">Tipos de Escala de Trabalho</a></li>
            <li class="breadcrumb-item active">Listar todas</li>
        </ol>

        <div class="card mb-4">
            <div th:if="${tipos != null}">

                <div th:if="${mensagem != null}">
                    <div class="alert alert-info" role="alert">
                        <span th:text="${mensagem}">mensagem</span>
                    </div>
                </div>
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Tipos de Escala de Trabalho
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Tipo de escala</th>
                                <th>Pertence à</th>
                                <th sec:authorize="hasRole('ROLE_ESCALA')">Ações</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Tipo de escala</th>
                                <th>Pertence à</th>
                                <th sec:authorize="hasRole('ROLE_ESCALA')">Ações</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="tipo : ${tipos}">
                                <td th:text="${tipo.nome}">nome</td>
                                <td th:text="${'Escala ' + tipo.escala.nome + ' de ' + #temporals.format(tipo.escala.data, 'MMM/yyyy') + '. '}">escala</td>
                                <td sec:authorize="hasRole('ROLE_ESCALA')">
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <a class="btn btn-sm btn-info" th:href="@{/escalas/atualizar/{id}/tipo(id=${tipo.escalaTipoId})}">Atualizar</a>
                                        <a class="btn btn-sm btn-danger" th:href="@{/escalas/tipo/{id}/remover(id=${tipo.escalaTipoId})}">Remover</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(tipos)}">
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                0 tipos de escala cadastradas!
            </div>
        </div>
    </div>
</body>
</html>
